html {
  /* width: 100%; */
  height: 100%;
  margin: 0;
  /* padding: 0; */
  /* position: relative; */
  background-size: 100%;
  background-image: url("./images/hld.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

body {
  /* width: auto; */
  min-height: calc(100% - 80px);
  /* height: calc(100% - 20%); */
  /* box-sizing: border-box; */
  border: solid 5px;
  border-color: rgb(255, 0, 149);
  margin: 15px;
  padding: 15px;
  overflow: hidden;
  /* display: inline-block; */
}

h1 {
  color: rgb(255, 0, 149);
  font-family: "Silkscreen", cursive;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: "Silkscreen", cursive;
}
p {
  color: rgb(255, 255, 255);
  font-family: "Silkscreen", cursive;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
} /* selected link */
a {
  text-decoration: none;
}
/* div {
  border: solid 5px;
  border-color: rgb(255, 0, 149);
  margin: 15px;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: inline-block;
} */

/* a {
  position: relative;
  left: 352px;
  top: 20px;
} */
