html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-image: url("./images/hld.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(255, 0, 149);
  font-family: "Silkscreen", cursive;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: "Silkscreen", cursive;
}
p {
  color: rgb(255, 255, 255);
  font-family: "Silkscreen", cursive;
}
a:link {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(255, 255, 255);
}
a:active {
  color: rgb(255, 255, 255);
} /* selected link */
a {
  text-decoration: none;
}
#div_master {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

#div_child {
  border: solid 5px;
  border-color: rgb(255, 0, 149);
  margin: 15px;
  padding: 15px;
  height: calc(100vh - 30px);
}
