body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-image: url("./images/rastrodecthulhu3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
h1 {
  color: rgb(255, 0, 149);
  font-family: "Silkscreen", cursive;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: "Silkscreen", cursive;
}
p {
  color: rgb(255, 255, 255);
  font-family: "Silkscreen", cursive;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
} /* selected link */
a {
  text-decoration: none;
}

/* a {
  position: relative;
  left: 352px;
  top: 20px;
} */
